## Data aggregation and cleaning

This notebook aggregates partially-cleaned Food Environmental Atlas data from 2016-2017, along with selected Food Environmental Atlas features from 2015 and earlier and U.S. Census Bureau population data. Our criteria for feature selection include that the data either must have been collected between 2015-2017 or must pertain to multi-decade data.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(234959)

import seaborn as sns
sns.set_style('whitegrid')

from sklearn.preprocessing import StandardScaler

In [2]:
# Some additional data cleaning / combining / preprocessing

file = "../data/FoodEnvironmentAtlas.xls"
data = pd.ExcelFile(file)
sheet_dict = {sheet_name: data.parse(sheet_name) for sheet_name in data.sheet_names}

# Food Environment Atlas cleaned data from 2017
data2017 = pd.ExcelFile('../data/2017 Data Cleaned.xlsx').parse('Sheet1')

In [3]:
for col in data2017['Dictionary'].iloc[:12].values:
    print(col)

SNAPS17- SNAP-authorized stores, 2017
SNAPSPTH17- SNAP-authorized stores/1,000 pop, 2017
REDEMP_SNAPS17: SNAP redemptions/SNAP-authorized stores, 2017
PCT_SNAP17: SNAP participants (% pop), 2017*
PC_SNAPBEN17: SNAP benefits per capita, 2017
PCT_NSLP17: National School Lunch Program participants (% children), 2017*
PCT_SBP17: School Breakfast Program participants (% children), 2017*
PCT_SFSP17: Summer Food Service Program participants (% children), 2017*
PCT_WIC17: WIC participants (% pop), 2017*
PCT_CACFP17: Child & Adult Care (% pop), 2017*
PCT_OBESE_ADULTS17: Adult obesity rate, 2017*
PCT_HSPA17: High schoolers physically active (%), 2017*

In [4]:
# Drop PCT_HSPA17 (too many null values)
data2017 = data2017.drop(['Dictionary', 'PCT_HSPA17'],axis=1)

In [5]:
data2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               3143 non-null   object
 1   County              3143 non-null   object
 2   SNAPS17             3143 non-null   float64
 3   SNAPSPTH17          3143 non-null   float64
 4   REDEMP_SNAPS17      3143 non-null   float64
 5   PCT_SNAP17          3143 non-null   float64
 6   PC_SNAPBEN17        3143 non-null   float64
 7   PCT_NSLP17          3143 non-null   float64
 8   PCT_SBP17           3143 non-null   float64
 9   PCT_SFSP17          3143 non-null   float64
 10  PCT_WIC17           3143 non-null   float64
 11  PCT_CACFP17         3143 non-null   float64
 12  PCT_OBESE_ADULTS17  3143 non-null   float64
dtypes: float64(11), object(2)
memory usage: 319.3+ KB

In [6]:
# Include Food Environment Atlas cleaned data from 2016 
data2016 = pd.ExcelFile('../data/2016 Data Cleaned.xlsx').parse('Sheet1')
data2016 = data2016.drop(['Unnamed: 27', 'Unnamed: 28', 'Variable Code', 'Variable Name'],axis=1)
data2016

,State,County,GROC16,GROCPTH16,SUPERC16,SUPERCPTH16,CONVS16,CONVSPTH16,SPECS16,SPECSPTH16,...,SNAP_OAPP16,SNAP_CAP16,SNAP_BBCE16,SNAP_REPORTSIMPLE16,PC_WIC_REDEMP16,REDEMP_WICS16,PCT_WICINFANTCHILD16,PCT_WICWOMEN16,RECFAC16,RECFACPTH16
0,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,1,0.018090,...,1.0,0,1,1,14.620244,161530.296875,32.910876,3.309759,6,0.108542
1,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,27,0.130115,...,1.0,0,1,1,13.873837,102920.085938,32.910876,3.309759,21,0.101200
2,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,2,0.077598,...,1.0,0,1,1,24.032284,103414.921875,32.910876,3.309759,0,0.000000
3,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,0,0.000000,...,1.0,0,1,1,22.081812,99703.796875,32.910876,3.309759,1,0.044183
4,AL,Blount,5,0.086863,1,0.017373,27,0.469059,0,0.000000,...,1.0,0,1,1,13.860495,99651.757812,32.910876,3.309759,4,0.069490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,1,0.022601,...,0.0,0,0,1,9.948467,110117.093750,21.296784,2.375607,6,0.135609
3139,WY,Teton,11,0.474547,0,0.000000,19,0.819672,8,0.345125,...,0.0,0,0,1,15.766656,38967.085938,21.296784,2.375607,13,0.560828
3140,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,2,0.096567,...,0.0,0,0,1,15.766656,94923.140625,21.296784,2.375607,2,0.096567
3141,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,0,0.000000,...,0.0,0,0,1,15.766656,47645.960938,21.296784,2.375607,1,0.122130
3142,WY,Weston,4,0.555710,0,0.000000,4,0.555710,0,0.000000,...,0.0,0,0,1,15.766656,25672.636719,21.296784,2.375607,0,0.000000

In [7]:
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 3143 non-null   object
 1   County                3143 non-null   object
 2   GROC16                3143 non-null   int64
 3   GROCPTH16             3143 non-null   float64
 4   SUPERC16              3143 non-null   int64
 5   SUPERCPTH16           3143 non-null   float64
 6   CONVS16               3143 non-null   int64
 7   CONVSPTH16            3143 non-null   float64
 8   SPECS16               3143 non-null   int64
 9   SPECSPTH16            3143 non-null   float64
 10  WICS16                3143 non-null   float64
 11  WICSPTH16             3143 non-null   float64
 12  FFR16                 3143 non-null   int64
 13  FFRPTH16              3143 non-null   float64
 14  FSR16                 3143 non-null   int64
 15  FSRPTH16              3143 non-null   float64
 16  SNAP_PART_RATE16      3143 non-null   float64
 17  SNAP_OAPP16           3143 non-null   float64
 18  SNAP_CAP16            3143 non-null   int64
 19  SNAP_BBCE16           3143 non-null   int64
 20  SNAP_REPORTSIMPLE16   3143 non-null   int64
 21  PC_WIC_REDEMP16       3143 non-null   float64
 22  REDEMP_WICS16         3143 non-null   float64
 23  PCT_WICINFANTCHILD16  3143 non-null   float64
 24  PCT_WICWOMEN16        3143 non-null   float64
 25  RECFAC16              3143 non-null   int64
 26  RECFACPTH16           3143 non-null   float64
dtypes: float64(15), int64(10), object(2)
memory usage: 663.1+ KB

In [8]:
data = pd.merge(left = data2017.reset_index(), right = data2016.reset_index(), how='inner').drop('index',axis=1)

In [9]:
data = data.drop([
    'GROC16','SUPERC16','CONVS16','SPECS16','WICS16','FFR16','FSR16',
    'SNAP_PART_RATE16','SNAP_OAPP16','SNAP_CAP16','SNAP_BBCE16','SNAP_REPORTSIMPLE16',
    'RECFAC16'],axis=1)

In [10]:
# Include socioeconomic data including multi-decade data
socioeconomic = sheet_dict['SOCIOECONOMIC'][['FIPS','State','County','POVRATE15','PERPOV10','METRO13','MEDHHINC15']]
# Four NaN values from POVRATE15, which are also the NaN values for MEDHHINC
socioeconomic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FIPS        3143 non-null   int64
 1   State       3143 non-null   object
 2   County      3143 non-null   object
 3   POVRATE15   3139 non-null   float64
 4   PERPOV10    3143 non-null   int64
 5   METRO13     3143 non-null   int64
 6   MEDHHINC15  3139 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 172.0+ KB

In [11]:
socioeconomic[socioeconomic['POVRATE15'].isnull()]

       FIPS State        County  POVRATE15  PERPOV10  METRO13  MEDHHINC15
92     2270    AK  Wade Hampton        NaN         1        0         NaN
548   15005    HI       Kalawao        NaN         0        1         NaN
2417  46113    SD       Shannon        NaN         1        0         NaN
2916  51515    VA       Bedford        NaN         0        1         NaN

In [12]:
# Set values equal to state averages
socioeconomic.loc[92,'POVRATE15'] = socioeconomic[socioeconomic['State'] == 'AK'].drop(92, axis=0).loc[:,'POVRATE15'].mean()
socioeconomic.loc[548,'POVRATE15'] = socioeconomic[socioeconomic['State'] == 'HI'].drop(548, axis=0).loc[:,'POVRATE15'].mean()
socioeconomic.loc[2417,'POVRATE15'] = socioeconomic[socioeconomic['State'] == 'SD'].drop(2417, axis=0).loc[:,'POVRATE15'].mean()
socioeconomic.loc[2916,'POVRATE15'] = socioeconomic[socioeconomic['State'] == 'VA'].drop(2916, axis=0).loc[:,'POVRATE15'].mean()
socioeconomic.loc[92,'MEDHHINC15'] = socioeconomic[socioeconomic['State'] == 'AK'].drop(92, axis=0).loc[:,'MEDHHINC15'].mean()
socioeconomic.loc[548,'MEDHHINC15'] = socioeconomic[socioeconomic['State'] == 'HI'].drop(548, axis=0).loc[:,'MEDHHINC15'].mean()
socioeconomic.loc[2417,'MEDHHINC15'] = socioeconomic[socioeconomic['State'] == 'SD'].drop(2417, axis=0).loc[:,'MEDHHINC15'].mean()
socioeconomic.loc[2916,'MEDHHINC15'] = socioeconomic[socioeconomic['State'] == 'VA'].drop(2916, axis=0).loc[:,'MEDHHINC15'].mean()

In [13]:
# Merge with 2017 data
data = pd.merge(left = data.reset_index(), right = socioeconomic.reset_index(), how='inner')
data = data.drop('index',axis=1)

In [14]:
# Choose features from remaining FEA sheets
FDPIR15 = sheet_dict['ASSISTANCE']['FDPIR15']
PCT_LACCESS_POP15 = sheet_dict['ACCESS']['PCT_LACCESS_POP15'].copy()
PCT_LACCESS_POP15_mean = PCT_LACCESS_POP15.dropna().mean()
PCT_LACCESS_POP15.loc[PCT_LACCESS_POP15.isnull()] = PCT_LACCESS_POP15_mean
PCT_LACCESS_LOWI15 = sheet_dict['ACCESS']['PCT_LACCESS_LOWI15'].copy()
PCT_LACCESS_LOWI15_mean = PCT_LACCESS_LOWI15.dropna().mean()
PCT_LACCESS_LOWI15.loc[PCT_LACCESS_LOWI15.isnull()] = PCT_LACCESS_LOWI15_mean
PCT_LACCESS_HHNV15 = sheet_dict['ACCESS']['PCT_LACCESS_HHNV15'].copy()
PCT_LACCESS_HHNV15_mean = PCT_LACCESS_HHNV15.dropna().mean()
PCT_LACCESS_HHNV15.loc[PCT_LACCESS_HHNV15.isnull()] = PCT_LACCESS_HHNV15_mean
FOODINSEC_15_17 = sheet_dict['INSECURITY']['FOODINSEC_15_17'].copy()
VLFOODSEC_15_17 = sheet_dict['INSECURITY']['VLFOODSEC_15_17'].copy()

data['FDPIR15'] = FDPIR15
data['PCT_LACCESS_POP15'] = PCT_LACCESS_POP15
data['PCT_LACCESS_LOWI15'] = PCT_LACCESS_LOWI15
data['PCT_LACCESS_HHNV15'] = PCT_LACCESS_HHNV15
data['FOODINSEC_15_17'] = FOODINSEC_15_17
data['VLFOODSEC_15_17'] = VLFOODSEC_15_17

In [15]:
# Wade Hampton County, AK is now Kusilvak Census Area
data.loc[(data['County'] == 'Wade Hampton') & (data['State'] == 'AK'), 'County'] = 'Kusilvak'
data.loc[(data['County'] == 'Kusilvak'), 'FIPS'] = 2158
# Shannon County, SD is now Oglala Lakota County
data.loc[(data['County'] == 'Shannon') & (data['State'] == 'SD'), 'County'] = 'Oglala Lakota'
data.loc[(data['County'] == 'Oglala Lakota'), 'FIPS'] = 46102
# Fix inconsistency in county name for LaSalle Parish, LA
data.loc[data['FIPS'] == 22059, 'County'] = 'LaSalle'

In [16]:
# Bedford County, VA (51019) now contains the former independent city Bedford (51515) as of 2013
data.loc[(data['County'] == 'Bedford') & (data['State'] == 'VA')]

,State,County,SNAPS17,SNAPSPTH17,REDEMP_SNAPS17,PCT_SNAP17,PC_SNAPBEN17,PCT_NSLP17,PCT_SBP17,PCT_SFSP17,...,POVRATE15,PERPOV10,METRO13,MEDHHINC15,FDPIR15,PCT_LACCESS_POP15,PCT_LACCESS_LOWI15,PCT_LACCESS_HHNV15,FOODINSEC_15_17,VLFOODSEC_15_17
2829,VA,Bedford,48.0,0.615590,101565.433958,9.15639,8.008011,51.237761,24.271113,5.403022,...,9.100000,0,1,54153.00000,0,9.801451,1.681253,2.899197,9.8,3.6
2916,VA,Bedford,3.0,0.918405,194846.434342,9.15639,16.166559,51.237761,24.271113,5.403022,...,14.706767,0,1,54032.75188,0,8.673396,8.651256,3.289225,9.8,3.6

In [17]:
# Combine Bedford (VA) counties and recalculate percentages

# From datacommons.org
pop_bedford_county_2017 = 78445
pop_bedford_town_2017 = 6569
pop_bedford_diff_2017 = pop_bedford_county_2017 - pop_bedford_town_2017


# GROCPTH16: Grocery stores per 1000 population
new_GROCPTH16 = (data.iloc[2829]['GROCPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['GROCPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# SUPERCPTH16: Supercenters and club stores per 1000 population
new_SUPERCPTH16 = (data.iloc[2829]['SUPERCPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['SUPERCPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# CONVSPTH16: Convenience stores per 1000 population
new_CONVSPTH16 = (data.iloc[2829]['CONVSPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['CONVSPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# SPECSPTH16: Specialized food stores per 1000 population
new_SPECSPTH16 = (data.iloc[2829]['SPECSPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['SPECSPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# WICSPTH16: WIC-authorized stores per 1000 population
new_WICSPTH16 = (data.iloc[2829]['WICSPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['WICSPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# FFRPTH16: Fast-food restaurants per 1000 population
new_FFRPTH16 = (data.iloc[2829]['FFRPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['FFRPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# FSRPTH16: Full-service restaurants per 1000 population
new_FSRPTH16 = (data.iloc[2829]['FSRPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['FSRPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017
# PC_WIC_REDEMP16: WIC redemptions per capita
total_WIC_redemptions = data.iloc[2829]['PC_WIC_REDEMP16']*pop_bedford_diff_2017 + data.iloc[2916]['PC_WIC_REDEMP16']*pop_bedford_town_2017
new_PC_WIC_REDEMP16 = total_WIC_redemptions/pop_bedford_county_2017
# REDEMP_WICS16:  WIC redemptions / WIC-authorized stores
new_REDEMP_WICS16 = total_WIC_redemptions/(data.iloc[2829]['PC_WIC_REDEMP16']/data.iloc[2829]['REDEMP_WICS16']*pop_bedford_diff_2017 + data.iloc[2916]['PC_WIC_REDEMP16']/data.iloc[2916]['REDEMP_WICS16']*pop_bedford_town_2017)
# RECFACPTH16: Recreational facilities per 1000 population
new_RECFACPTH16 = (data.iloc[2829]['RECFACPTH16']*pop_bedford_diff_2017 + data.iloc[2916]['RECFACPTH16']*pop_bedford_town_2017)/pop_bedford_county_2017

data.loc[2829,'GROCPTH16'] = new_GROCPTH16
data.loc[2829,'SUPERCPTH16'] = new_SUPERCPTH16
data.loc[2829,'CONVSPTH16'] = new_CONVSPTH16
data.loc[2829,'SPECSPTH16'] = new_SPECSPTH16
data.loc[2829,'WICSPTH16'] = new_WICSPTH16
data.loc[2829,'FFRPTH16'] = new_FFRPTH16
data.loc[2829,'FSRPTH16'] = new_FSRPTH16
data.loc[2829,'PC_WIC_REDEMP16'] = new_PC_WIC_REDEMP16
data.loc[2829,'REDEMP_WICS16'] = new_REDEMP_WICS16
data.loc[2829,'RECFACPTH16'] = new_RECFACPTH16


# SNAPS17: SNAP-authorized stores (this will be redundant with following data)
new_SNAPS17 = data.iloc[2829]['SNAPS17'] + data.iloc[2916]['SNAPS17']
# SNAPSPTH17: SNAP-authorized stores per 1000 population
new_SNAPSPTH17 = 1000*new_SNAPS17/pop_bedford_county_2017
# REDEMP_SNAPS17: SNAP redemptions per SNAP-authorized store
new_REDEMP_SNAPS17 = (data.iloc[2829]['SNAPS17']*data.iloc[2829]['REDEMP_SNAPS17'] + data.iloc[2916]['SNAPS17']*data.iloc[2916]['REDEMP_SNAPS17'])/new_SNAPS17
# PC_SNAPBEN17: SNAP benefits per capita
new_PC_SNAPBEN17 = (data.iloc[2829]['PC_SNAPBEN17']*pop_bedford_diff_2017 + data.iloc[2916]['PC_SNAPBEN17']*pop_bedford_town_2017)/pop_bedford_county_2017
# POVRATE15: Poverty rate
new_POVRATE15 = (data.iloc[2829]['POVRATE15']*pop_bedford_diff_2017 + data.iloc[2916]['POVRATE15']*pop_bedford_town_2017)/pop_bedford_county_2017

data = data.drop('SNAPS17', axis=1)
data.loc[2829,'SNAPSPTH17'] = new_SNAPSPTH17
data.loc[2829,'REDEMP_SNAPS17'] = new_REDEMP_SNAPS17
data.loc[2829,'PC_SNAPBEN17'] = new_PC_SNAPBEN17
data.loc[2829,'POVRATE15'] = new_POVRATE15


# FDPIR15: FDPIR sites
new_FDPIR15 = data.iloc[2829]['FDPIR15'] + data.iloc[2916]['FDPIR15']
# PCT_LACCESS_POP15: Percent of population with low access to grocery store
new_PCT_LACCESS_POP15 = (data.iloc[2829]['PCT_LACCESS_POP15']*pop_bedford_diff_2017 + data.iloc[2916]['PCT_LACCESS_POP15']*pop_bedford_town_2017)/pop_bedford_county_2017
# PCT_LACCESS_LOWI15: Percent of population with low income and low access to grocery store
new_PCT_LACCESS_LOWI15 = (data.iloc[2829]['PCT_LACCESS_LOWI15']*pop_bedford_diff_2017 + data.iloc[2916]['PCT_LACCESS_LOWI15']*pop_bedford_town_2017)/pop_bedford_county_2017
# PCT_LACCESS_HHNV15: Percent of households with no car and low access to grocery store
new_PCT_LACCESS_HHNV15 = (data.iloc[2829]['PCT_LACCESS_HHNV15']*pop_bedford_diff_2017 + data.iloc[2916]['PCT_LACCESS_HHNV15']*pop_bedford_town_2017)/pop_bedford_county_2017

data.loc[2829,'FDPIR15'] = new_FDPIR15
data.loc[2829,'PCT_LACCESS_POP15'] = new_PCT_LACCESS_POP15
data.loc[2829,'PCT_LACCESS_LOWI15'] = new_PCT_LACCESS_LOWI15
data.loc[2829,'PCT_LACCESS_HHNV15'] = new_PCT_LACCESS_HHNV15


data = data.drop(2916,axis=0)

data.loc[(data['County'] == 'Bedford') & (data['State'] == 'VA')]

,State,County,SNAPSPTH17,REDEMP_SNAPS17,PCT_SNAP17,PC_SNAPBEN17,PCT_NSLP17,PCT_SBP17,PCT_SFSP17,PCT_WIC17,...,POVRATE15,PERPOV10,METRO13,MEDHHINC15,FDPIR15,PCT_LACCESS_POP15,PCT_LACCESS_LOWI15,PCT_LACCESS_HHNV15,FOODINSEC_15_17,VLFOODSEC_15_17
2829,VA,Bedford,0.650137,107052.551628,9.15639,8.691209,51.237761,24.271113,5.403022,1.442558,...,9.569512,0,1,54153.0,0,9.706988,2.264923,2.931858,9.8,3.6

In [18]:
# Include county population data from U.S. Census Bureau
county_population_data = pd.read_csv('../data/county_population_data_2017.csv').drop('Unnamed: 0',axis=1)

In [19]:
county_population_data

                 County  POPESTIMATE2017
0        Autauga County            55504
1        Baldwin County           212628
2        Barbour County            25270
3           Bibb County            22668
4         Blount County            58013
...                 ...              ...
3137  Sweetwater County            43534
3138       Teton County            23265
3139       Uinta County            20495
3140    Washakie County             8064
3141      Weston County             6927

[3142 rows x 2 columns]

In [20]:
# This verifies that the county indices match. Counties in both tables are ordered alphabetically by state, then by county name
#for i in range(len(data['County'].values)):
#    a = data['County'].values[i]
#    b = county_population_data['County'].values[i]
#    if a.split(' ')[0] != b.split(' ')[0]:
#        print(data['County'].values[i], county_population_data['County'].values[i])

In [21]:
data = data.reset_index().drop('index',axis=1)
data['PopulationEstimate2017'] = county_population_data['POPESTIMATE2017'].copy()
data['LogPopulationEstimate2017'] = np.log10(county_population_data['POPESTIMATE2017'].copy())

In [22]:
data.to_csv('../data/data_all.csv',index=False)