In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
data_c16 = pd.read_excel('../data/2016 Data Cleaned.xlsx')
fea = pd.ExcelFile('../data/FoodEnvironmentAtlas.xls')
supp = fea.parse('Supplemental Data - County')
pop_16 = supp['Population_Estimate_2016']

In [44]:
# drop bedford county for now, maybe will fix later
bedford = data_c16[(data_c16["County"]=='Bedford') & (data_c16["State"]== 'VA')]
bedford

,State,County,GROC16,GROCPTH16,SUPERC16,SUPERCPTH16,CONVS16,CONVSPTH16,SPECS16,SPECSPTH16,...,PC_WIC_REDEMP16,REDEMP_WICS16,PCT_WICINFANTCHILD16,PCT_WICWOMEN16,RECFAC16,RECFACPTH16,Unnamed: 27,Unnamed: 28,Variable Code,Variable Name
2829,VA,Bedford,7,0.089942,0,0.0,23,0.295523,2,0.025698,...,4.203871,54587.968750,19.139914,1.92009,5,0.064244,NaN,NaN,NaN,NaN
2916,VA,Bedford,3,0.000000,1,0.0,6,0.000000,1,0.000000,...,15.766656,53313.179688,19.139914,1.92009,0,0.000000,NaN,NaN,NaN,NaN

In [134]:
df = data_c16.drop(['County', 'Unnamed: 27', 'Unnamed: 28', 'Variable Code', 'Variable Name'], axis = 1)
df.drop([2829, 2916], axis = 0, inplace = True)

data = pd.concat([df, pop_16], axis = 1)

cols = data.columns[1:-1]
states = data["State"].drop_duplicates()
states.index(np.arange(0,50), inplace = True)
states.drop(2829, axis = 0, inplace = True)

TypeError: 'Index' object is not callable

In [127]:
state_avgs = []
for state in states:
    rows = data[data["State"] == state]
    state_avg = np.average(rows[cols], weights = rows['Population_Estimate_2016'], axis = 0)
    state_avgs.append(state_avg)

In [132]:
state_feats = pd.DataFrame(state_avgs)
state_feats.columns = cols
state_data = pd.concat([states, state_feats], axis = 1)
state_data

,State,GROC16,GROCPTH16,SUPERC16,SUPERCPTH16,CONVS16,CONVSPTH16,SPECS16,SPECSPTH16,WICS16,...,SNAP_OAPP16,SNAP_CAP16,SNAP_BBCE16,SNAP_REPORTSIMPLE16,PC_WIC_REDEMP16,REDEMP_WICS16,PCT_WICINFANTCHILD16,PCT_WICWOMEN16,RECFAC16,RECFACPTH16
0,AL,33.573330,0.155731,6.316264,0.026132,146.570051,0.665958,12.551323,0.042597,28.687319,...,1.0,0.0,1.0,1.0,18.411861,131170.463024,32.910876,3.309759,22.048043,0.077577
67,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,NaN,46.491327,0.192476,3.684705,0.022534,78.370222,0.490447,14.373520,0.053534,21.643581,...,1.0,1.0,0.0,1.0,11.850589,95143.870558,19.139914,1.920090,38.462574,0.121757
47,NaN,38.448167,0.283338,3.275942,0.013665,48.942647,0.399641,14.440619,0.082662,17.150935,...,1.0,1.0,1.0,1.0,12.049396,66292.906930,28.706550,2.728277,22.538325,0.106228
48,NaN,5.265963,0.196530,0.748554,0.020490,17.783783,0.579210,0.668115,0.014908,4.879012,...,1.0,0.0,1.0,1.0,15.025418,90733.945144,29.933695,2.855564,1.897286,0.040565
49,NaN,10.137057,0.193538,1.078283,0.019338,25.281925,0.584669,5.364865,0.109328,12.166795,...,1.0,0.0,1.0,1.0,10.728407,43203.822639,22.653058,2.014588,6.997683,0.070634
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN